# OpenAI API config
OPENAI_API_KEY=

# Model selection options
# VLM_OPTION: "local" or "openai"
VLM_OPTION=openai

# Model checkpoints
QWEN_VLM_MODEL_ID=Qwen/Qwen2.5-VL-7B-Instruct
QWEN_EMBEDDING_MODEL_ID=Qwen/Qwen2.5-VL-8B-Instruct
PHOWHISPER_MODEL_ID=vinai/PhoWhisper-large
M2D_CLAP_MODEL_ID=laion/clap-htsat-fused

# Object detector checkpoint
REX_OMNI_MODEL_ID=IDEA-Research/Rex-Omni

# Qdrant configs
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_API_KEY=
