# OpenAI API config
OPENAI_API_KEY=

# DINO-X API config
DINO_X_API_KEY=
DINO_X_API_URL=https://api.dino-x.ai/v1/detect

# Model selection options
VLM_OPTION=openai
DETECTOR_OPTION=dino-x-local

# Model checkpoints
QWEN_VLM_MODEL_ID=Qwen/Qwen2.5-VL-7B-Instruct
QWEN_EMBEDDING_MODEL_ID=Qwen/Qwen2.5-VL-8B-Instruct
M2D_CLAP_MODEL_ID=laion/clap-htsat-fused

# Local self-hosted DINO-X weights & config paths
DINO_X_LOCAL_MODEL_PATH=weights/dino-x-pro.pth
DINO_X_LOCAL_CONFIG_PATH=configs/dino-x-pro.py

# Qdrant configs
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_API_KEY=
